h1, h2 , h3{
    font-family: Arial;
}
h1{
    font: 1.8em;
}
h2{
    font: 1.5em;
}
h3{
    font: 1.4em;
}
p{
    font-family: "Times New Roman";
    font: 1.2em;
}
.p1{
    color: red;
}
.p2{
    color: green;
}
.p3{
    color: blue;
}